<div class="container">

  <%= link_to 'Gerenciar mesas', tables_path, class: 'btn btn-lg btn-default' %>


  <h2>Aqui estão todos os pedidos de hoje:</h2>

  <br>

  <%= render 'orders', orders: @orders %>
</div>


<script>
  setTimeout(function(){
    window.location.reload();
  }, 30000);
</script>