<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h2 class="text-center">Alterar pedido</h2>

        <%= render 'form', order: @order, url: user_order_path(@user, @order) %>
    </div>
  </div>

<br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <%= link_to 'Voltar', user_orders_path(@user), class: 'btn btn-lg btn-default' %>
    </div>
  </div>
</div>
