<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h2 class="text-center">Novo pedido</h2>

      <%= render 'form', order: @order, url: user_orders_path %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <%= link_to 'Meus pedidos', user_orders_path, class: 'btn btn-lg btn-default' %>
    </div>
  </div>
</div>