<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h2 class="text-center">Alterar dados da mesa</h2>

        <%= render 'form', table: @table %>
    </div>
  </div>

<br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <%= link_to 'Voltar', tables_path, class: 'btn btn-lg btn-default' %>
    </div>
  </div>
</div>
